<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Тест контроллера товаров</title>
</head>
<body>
<h2>Тест контроллера товаров</h2>
<a href="/app/products"><p>Список всех товаров</p></a>
<a href="/app/products?mincost=500"><p>Ограничение по минимальной цене</p></a>
<a href="/app/products?maxcost=700"><p>Ограничение по максимальной цене</p></a>
<a href="/app/products?mincost=500&maxcost=700"><p>Ограничение по минимальной и максимальной цене</p></a>
</body>

</html>