<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text = "${title}">Заголовок главной страницы</title>
</head>
<body>
<h2>Тест контроллера товаров</h2>
<a href="/app/products"><p>Список товаров</p></a>
<a href="/app/rest/products"><p>REST - cписок товаров</p></a>
<a href="/app/rest/products/11"><p>REST - товар с id = 11</p></a>
<form action="" th:action="@{/rest/products}" th:object="${product}" th:method="POST">
    <input th:field="*{id}" type="hidden"/>
    <input th:field="*{title}" type="text" size="50"/>&nbsp-&nbsp
    <input th:field="*{cost}" type="number" min="0" max="100000000" size="9"/>к.&nbsp
    <button type="submit">Добавить новый продукт</button>
</form>
</body>
</html>