<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="|Товар с id = ${product.id}|">Заголовок страницы с данными о товаре</title>
</head>
<p>
    <a href = "/app"><p>На главную</p></a>
<h2 th:text="|Товар с id = ${product.id}|">Заголовок страницы с данными о товаре</h2>
<p th:text="|${product.title} - ${costFormatter.print(product.cost)}|"/>
<p>
<form action="" th:action="@{/rest/products}" th:object="${product}" th:method="PUT">
    <input th:field="*{id}" type="hidden"/>
    <input th:field="*{title}" type="text" required size="50"/>&nbsp-&nbsp
    <input th:field="*{cost}" type="number" min="0" max="100000000" size="9"/>к.&nbsp
    <button type="submit">Сохранить изменения</button>
</form>
</p>
<p>
    <form action="" th:action="@{'/rest/products/' + ${product.id}}" th:method="DELETE">
    <button type="submit">Удалить товар без подтверждения</button>
</form>
</p>
</body>
</html>